/* Google font  */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* variable css */
:root{
    --color-primary: #FEA301;
    --color-secondary: #111111;
    --color-tertiary: #01ACFD;

    /* button color  */
    --color-btn-primary: #3CD8E8;
    --color-btn-secondary: #95B226;
    --color-btn-tertiary: #5D58F0;

    /* font color  */
    --color-font-primary: #808080;
    --color-font-secondary: #666666;

    /* background color  */
    --color-bg-primary: #01ACFD;
    --color-bg-secondary: #F7F7F7;

    /* font size  */
    --font-size-primary: 15px;

    /* border radius  */
    --border-radius-primary: 5px;
}
img{
    width: 100%;
    height: auto;
}
/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body css */
body {
    font-family: 'Quicksand', sans-serif;
}

/* container css */
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.bg-primary{
    background-image: url(/assets/img/bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

/* header css */
.marquee{
    background-color: var(--color-secondary);
    color: var(--color-bg-secondary);
    font-size: var(--font-size-primary);
    padding: 8px 0;
}
.nav-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.nav-logo{
    display: flex;
    align-items: center;
    font-size: 20px;
    gap: 10px;
}
.nav-list{
    display: flex;
    gap: 20px;
}
.nav-list .nav-item{
    list-style: none;
    padding: 10px 15px;
    display: inline-block;
}
.nav-list .nav-item a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

.nav-list .nav-item:nth-child(1) a {
    color: var(--color-primary);
}
.nav-list .nav-item:nth-child(2) a {
    color: var(--color-bg-primary);
}
.nav-list .nav-item:nth-child(3) a {
    color: var(--color-btn-primary);
}
.nav-list .nav-item:nth-child(4) a {
    color: var(--color-btn-tertiary);
}
.nav-btn .nav-primary{
    background-color: var(--color-primary);
    color: var(--color-bg-secondary);
    padding: 8px 30px;
    border-radius: var(--border-radius-primary);
    font-size: 20px;
    border: none;
    cursor: pointer;
}
.nav-btn .nav-primary:hover{
    background-color: #f4b64d;
}

/* hero-section css */
.hero-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.hero-content{
    width: 55%;
}
.hero-image{
    width: 45%;
}
.hero-content h1{
    font-size: 56px;
    font-weight: 700;
    color: #111111;
    line-height: 1.2;
    margin-bottom: 20px;
}
.hero-content .empower{
    color: var(--color-primary);
}
.hero-content .towar{
    color: var(--color-bg-primary);
}
.hero-content p{
    font-size: 16px;
    color: var(--color-font-primary);
    line-height: 1.5;
    padding-right: 40px;
    margin-bottom: 30px;
}
.hero-btn .hero-btn-primary{
    background-color: #111111;
    color: var(--color-bg-secondary);
    padding: 10px 30px;
    border-radius: var(--border-radius-primary);
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.hero-image img{
    width: 100%;
    height: auto;
}

/* standard-section css  */
.standard-area h1{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: var(--color-secondary);
    padding: 40px 0;
}
.standard-section{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.standard-section .card{
    width: 33%;
    text-align: center;
    padding: 20px;
    margin: 30px 0;
    border-radius: 8px;
}
.standard-section .card:nth-child(1){
    border: 1px solid #DEF5FF;
    background: linear-gradient(to top,#ffffff, #DEF5FF);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.standard-section .card:nth-child(2){
    border: 1px solid #FFF4DC;
    background: linear-gradient(to top,#ffffff, #FFF4DC);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.standard-section .card:nth-child(3){
    border: 1px solid #F2E8FF;
    background: linear-gradient(to top,#ffffff, #F2E8FF);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.standard-section .card img{
    width: 100px;
    height: auto;
    margin: 30px 0;
}
.standard-section .card h3{
    font-size: 25px;
    font-weight: 600;
    margin: 15px 0;
}

.standard-section .card p{
    font-size: 16px;
    color: var(--color-font-primary);
    line-height: 1.5;
    margin-bottom: 15px;
}
.standard-section .card a{
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    margin: 20px 0;
    font-weight: bold;
}
.standard-section .card:nth-child(1) a{
    color: var(--color-btn-primary);
}
.standard-section .card:nth-child(2) a{
    color: var(--color-primary);
}
.standard-section .card:nth-child(3) a{
    color: #8700FF;
}
.slide-icon{
    margin-top: 30px;
    text-align: center;
}
.slide-icon i{
    font-size: 30px;
    background: #f4b64d;
    color: #ffffff;
    margin-right: 20px;
    padding: 10px;
    border-radius: 50%;
}

/* stories-section styles */
.stories-section{
    padding-top: 100px;
    background: linear-gradient(to bottom, #ffffff, #fecd79);
}
.stories-area{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding-bottom: 100px;
}
.stories-section h1{
    font-size: 40px;
    text-align: center;
    margin: 50px 0;
}

.stories-card-one{
    background-color: #fff;
    width: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    position: relative;
}
.stories-card-one img{
    width: 100%;
    height: auto;
    border-radius: 15px 15px 0 0;
}
.card-content{
    padding: 50px;
}
.card-content data{
    background-color: #3CD8E8;
    padding: 12px 24px;
    display: inline-block;
    border-radius: 30px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
    position: relative;
    top: -77px;
}
.card-content h2{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 60px;
    color: #111111;
    line-height: 1.2;
}
.card-content p{
    font-size: 15px;
    color: #666666;
    line-height: 1.5;
}

.stories-card-two{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.stories-card-two .card-one{
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}
.card-one img{
    width: 100%;
    height: auto;
    border-radius: 15px 15px 0 0;
}

.card-content-two{
    padding: 20px;
}
.card-content-two data{
    background-color: #3CD8E8;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 20px;
    position: relative;
    top: -45px;
}
.card-content-two h2{
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 10px;
    margin-top: -30px;
}


